<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <title>Communication Style</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div class="text-container">
            <h2>Communication Style Finder</h2>
        </div>
        <menu>
            <nav>
                <a href="#">Home</a>
            </nav>
        </menu>
    </header>

    <main>
        <h1>What is your communication <span class="fancy"> style</span>?</h1>
        <h2>Find out today with this fun quiz</h2>
        <form action="{{ url_for('question') }}">
            <button type="submit" class="button">Let's go</button>
        </form>
    </main>

    <footer>
        <p>Copyright &copy; 2024 All Rights Reserved by <span>Joanna Kmiec</span>.</p>
    </footer>
</body>

</html>
