@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.text-container {
    background-color:rgb(43, 214, 180);
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
  
    
}
.top-container {
    background-color: black;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    
   
}
nav {
    margin: 27px auto 0;
    position: relative;
   width: fit-content;
    height: 50px;
    background-color: #000000;

  
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 0px;
   
}

a:nth-child(1) {
    width: 150px;
    
}

a:nth-child(2) {
    width: 150px;
    
}

a:nth-child(1):hover {
    color: rgb(43, 214, 180);
    font-weight: bolder;
    
}
a:nth-child(2):hover {
    color: rgb(43, 214, 180);
    font-weight: bolder;
} 

body {
    background: rgb(44, 62, 80) ;
    position:relative;
}

h1 {
    padding-top: 2%;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    margin: 40px 0 40px;
    text-align:left;
    font-size: 30px;
    color: #ecf0f1;
    text-align: center;
    color: white;

}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 1;
    
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 1;
    
}


span {
    color: rgb(43, 214, 180);
}



.fancy {
    position: relative;
    white-space: nowrap;

    &:after {
        --deco-height: 0.3125em;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc(var(--deco-height) * -0.625);
        height: var(--deco-height);
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: auto 100%;
        background-repeat: round;
        background-position: 0em;
    }
}
.container .button {
    position: absolute;
    left: 30%;
    right: 30%;
    background-color: white;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  /*  padding: .75rem 1.65rem; */
    
}


.button:focus {
    outline: 0;
}

.button:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button:hover:after {
    bottom: 2px;
    left: 2px;
}

@media (min-width: 768px) {
    .button {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}

section.answers {
    font-size: 35px;
    text-align: center;

}

input#answer {
    height: 50px;
    width:fit-content;
    position: static;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    font-family:'Poppins', sans-serif;
    border-style: dotted;
    margin-top: 15px;
    

}

input[type="submit"] {
    cursor: pointer;
    
}


/*footer  {
   padding-top: 35px;
   padding-bottom: 30px;
   background-color:grey;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}*/

.container {
    margin-bottom: 10%;
}

/*.site-footer p {
    background-color: red;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 5px;
}*/

.footer {
    position: static;
   /* left: 0;
    bottom: 0;
    width: 100%; */
    margin-top: 15%;
    padding: 5px;
    background-color: grey;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
 }

 /*p {
    position: fixed;
    text-align: center;
    bottom: 5px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
}*/